{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Edit Flashcard{% endblock %}

{% block content %}
<!-- User can only edit flashcard if the set belongs to them -->
{% if current_user.username == set.username %}
    <div class="page-header">
        <h1>Edit Flashcard</h1>
    </div>
    <div class="form-fields">
        {{ wtf.quick_form(form) }}
    </div>
{% else %}
<!-- Displays this message if user tries to edit a flashcard in a set that they haven't created -->
    <h1>You cannot edit this flashcard.</h1>
{% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}