{% extends 'base.html' %}

{% block title %}Multiple Choice Quiz{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Multiple Choice Quiz</h1>
    </div>

    <div class="mcquiz-body">
        <div class="quiz-header">
            <fieldset>
                <h3>
                    Question:
                </h3>
            </fieldset>
        </div>
        <!-- Displays question -->
            <p>{{ question.question }}</p>
            <label>
                <!-- Displays Choices -->
                <form action="" method="POST">
                    <div class="choices">
                        {% for choice in question.choices %}
                        <!-- Each choice is button and has the value of the name of the choice -->
                            {% set choiceValue = choice.name.replace(" ", "") %}
                            <button type="submit" name="useranswer" value={{ choiceValue }} class="btn btn-info btn-lg btn-block">{{ choice.name }}</button><br>
                        {% endfor %}
                    </div>
                </form>
            </label>
    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='quiz.js') }}"></script>
{% endblock %}